.lmj-banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    background-color: #31b4724f;
    height: 2rem;
    border-radius: 1rem;
    margin-left: auto;
    justify-content: center;
}

.lmj-title {
    padding-left: 32px;

}

.lmj-logo {
    height: 45px;
    width: 45px;
}